<% extends ./base.html %>
<% subskin extrahead %>
    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="externals/openlayers/theme/default/style.css">
    <script type="text/javascript" src="script/OpenLayers.js"></script>

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/gxtheme-gray.css">
    <script type="text/javascript" src="script/GeoExt.js"></script> 

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="externals/gxp/src/theme/all.css">
    <script type="text/javascript" src="script/gxp.js"></script> 

    <!-- proj4js resources -->
    <!-- <script type="text/javascript" src="externals/proj4js/lib/proj4js-compressed.js"></script>-->
	<script type="text/javascript" src="externals/proj4js/lib/proj4js-combined.js"></script>

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="theme/app/geoexplorer.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
    <link rel="stylesheet" type="text/css" href="theme/ux/colorpicker/color-picker.ux.css" />
    <script type="text/javascript" src="script/GeoExplorer.js"></script>
    <script type="text/javascript" src="script/ux.js"></script>

    <!-- PrintPreview resources -->
    <link rel="stylesheet" type="text/css" href="externals/PrintPreview/resources/css/printpreview.css">
    <script type="text/javascript" src="script/PrintPreview.js"></script>

    <script>
        // optionally set locale based on query string parameter
        if (GeoExt.Lang) {
            GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
        }
        Ext.BLANK_IMAGE_URL = "theme/app/img/blank.gif";
        OpenLayers.ImgPath = "theme/app/img/";
        // optionally set locale based on query string parameter
        if (GeoExt.Lang) {
            GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
        }
        GeoExt.Lang.set("tr");
        Proj4js.defs["EPSG:900915"] = "+proj=tmerc +lat_0=0 +lon_0=30 +k=1 +x_0=500000 +y_0=0 +ellps=GRS80 +datum=ITRF96 +units=m +no_defs";
        Proj4js.defs["EPSG:900916"] = "+proj=tmerc +lat_0=0 +lon_0=30 +k=1 +x_0=500000 +y_0=0 +datum=WGS84 +units=m +no_defs";
        var app = new GeoExplorer.Composer({
            authStatus: <% status %>,
            proxy: "proxy?url=",
            printService: null,//"/geoserver/pdf/",
            wfsURL : "http://geoserver.kocaeli.bel.tr:8090/geoserver/wfs",
            about: {
                title: "Umi Map Test Application",
                "Amaç": "Universal Mekansal İşlemci ",
                contact: "Daha fazla bilgi için,  <a href='http://opengeo.org'>OpenGeo</a>."
            },
            defaultSourceType: "gxp_wmscsource",
            sources: {
                local: {
                	url: "http://geoserver.kocaeli.bel.tr:8090/geoserver/ows",
                    title: "Kurum Servisleri",
                    ptype: "gxp_wmscsource"
                },
                kocaeliimar: {
                	url: "http://gis.kocaeli.bel.tr/ArcGIS/services/IMAR_YAYIN/MapServer/WMSServer?style=",
                    title: "Imar Katmanları",
                    ptype: "gxp_wmscsource"
                },
                /*
                mapquest: { 
                    ptype: "gxp_mapquestsource"
                }*/
                /*,osm: {
                    ptype: "gxp_osmsource"
                },
                google: {
                    ptype: "gxp_googlesource"
                },
                bing: {
                    ptype: "gxp_bingsource"
                },
                mapbox: {
                    ptype: "gxp_mapboxsource"
                },
                */
                
                ol: {
                    ptype: "gxp_olsource"
                }
            },
            map: {
            	projection: "EPSG:900916",
                scales: [400000, 200000, 100000, 50000, 25000, 15000, 5000, 2500, 1000, 500],
                resolutions: [105.833545000423, 52.9167725002117, 26.4583862501058, 13.2291931250529, 6.61459656252646, 3.96875793751588, 1.32291931250529, 0.661459656252646, 0.264583862501058, 0.132291931250529],
                minScale: 400000,
                maxResolution: "auto",
                maxExtent: [379368.000000856, 4436618.000114, 598577.99999933, 4588478.00011583],
                maxResolution: 105.833545000423,
                maxScale: 500,
                minResolution: "auto",
                minExtent: [-1, -1, 1, 1],
                minResolution: 0.132291931250529,
                numZoomLevels: 10,
                units: "m",
                layers: [
                /*{
                	source: "google",
                    title: "Google Harita",
                    name: "SATELLITE",//"HYBRID",//"ROADMAP",
                    group: "background"
                },*/
                //baselayer parametresi ile KocaeliGisSorgu.js icindeki aftermapmove event'inde max zoom icin kontrol yapiliyor.
                {
                	source: "ol",
                    type: "OpenLayers.Layer.WMS",
                    group: "background",
                    args: [
                           "Kocaeli Imar",
                           "http://gis.kocaeli.bel.tr/ArcGIS/services/IMAR_YAYIN/MapServer/WMSServer?style=",
                           {layers: "1,2,3,7,8,9,10,11,12,13", format: "image/png", isBaseLayer:true}//, transparent:"true"}
                       ]

                },
                {
                	source: "ol",
                    type: "OpenLayers.Layer.TMS",
                    group: "background",
                    args: [
                           "Kocaeli Raster",
                           "http://tileservices.kocaeli.bel.tr/uydu/2012/",
                           {
                        	   'type': 'png',
                        	   'getURL': gxp.plugins.KocaeliGisSorgu.prototype.getUyduTileLayerServiceUrl,
                        	   'isBaseLayer': true,
                        	   'tileOrigin': new OpenLayers.LonLat(-5123200, 10002100),
                        	   'serverResolutions': [105.833545000423, 52.9167725002117, 26.4583862501058, 13.2291931250529, 6.61459656252646, 3.96875793751588, 1.32291931250529, 0.661459656252646, 0.264583862501058, 0.132291931250529]
							}
                       ]
  
                },
                {
                    source: "ol",
                    group: "background",
                    fixed: true,
                    type: "OpenLayers.Layer",
                    args: [
                        "Hiçbiri", {visibility: false}
                    ]
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KOYMAHALLE",
                	title:"MAHALLE",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KARAYOLU",
                	title:"KARAYOLU",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KOCAELI_YAPI",
                	title:"BINA",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },                
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KOCAELI_KAPI",
                	title:"KAPI",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KAZIHATTI",
                	title:"KAZI HATLARI",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
               		source:"local",
               		name:"UniversalWorkspace:SDE.YAGMURSUYU_HAT",
               		title:"YAGMUR SUYU HATLARI",
               		visibility:false,
               		opacity:1,
               		selected:false,
               		format:"image/png",
               		styles:"",
               		transparent:true,
               		cached:true ,
                },
                {	source:"local",
                	name:"UniversalWorkspace:SDE.KANALIZASYON_HAT",
                	title:"KANALIZASYON HATLARI",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.DIGER_HATLAR",
                	title:"DIGER HATLAR",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                	
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.FIBER_HAT",
                	title:"FIBER HATLAR",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.GAZ_HAT",
                	title:"GAZ HATLARI",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.GAZ_KUTU",
                	title:"GAZ KUTULARI",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.ICMESU_HAT",
                	title:"ICMESUYU HATLARI",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                }
                ],
                center: [495353.22, 4513995.49],
                zoom: 0
            }
        });
        
    </script>