<% extends ./base.html %>
<% subskin extrahead %>
    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="externals/openlayers/theme/default/style.css">
    <script type="text/javascript" src="script/OpenLayers.js"></script>

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/gxtheme-gray.css">
    <script type="text/javascript" src="script/GeoExt.js"></script> 

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="externals/gxp/src/theme/all.css">
    <script type="text/javascript" src="script/gxp.js"></script> 

    <!-- proj4js resources -->
    <!-- <script type="text/javascript" src="externals/proj4js/lib/proj4js-compressed.js"></script>-->
	<script type="text/javascript" src="externals/proj4js/lib/proj4js-combined.js"></script>

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="theme/app/geoexplorer.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
    <link rel="stylesheet" type="text/css" href="theme/ux/colorpicker/color-picker.ux.css" />
    <script type="text/javascript" src="script/GeoExplorer.js"></script>
    <script type="text/javascript" src="script/ux.js"></script>

    <!-- PrintPreview resources -->
    <link rel="stylesheet" type="text/css" href="externals/PrintPreview/resources/css/printpreview.css">
    <script type="text/javascript" src="script/PrintPreview.js"></script>

    <script>
        // optionally set locale based on query string parameter
        if (GeoExt.Lang) {
            GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
        }
        Ext.BLANK_IMAGE_URL = "theme/app/img/blank.gif";
        OpenLayers.ImgPath = "theme/app/img/";
        // optionally set locale based on query string parameter
        if (GeoExt.Lang) {
            GeoExt.Lang.set(OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale);
        }
        GeoExt.Lang.set("tr");
        Proj4js.defs["EPSG:900915"] = "+proj=tmerc +lat_0=0 +lon_0=30 +k=1 +x_0=500000 +y_0=0 +ellps=GRS80 +datum=ITRF96 +units=m +no_defs";
        var app = new GeoExplorer.Composer({
            authStatus: <% status %>,
            proxy: "proxy?url=",
            printService: null,//"/geoserver/pdf/",
            wfsURL : "http://geoserver.kocaeli.bel.tr:8890/geoserver/wfs",
            about: {
                title: "Umi Map Test Application",
                "Amaç": "Universal Mekansal İşlemci ",
                contact: "Daha fazla bilgi için,  <a href='http://opengeo.org'>OpenGeo</a>."
            },
            defaultSourceType: "gxp_wmscsource",
            sources: {
                local: {
                	url: "http://geoserver.kocaeli.bel.tr:8890/geoserver/ows",
                    title: "Kurum Servisleri",
                    ptype: "gxp_wmscsource"
                },
                kocaeliimar: {
                	url: "http://gis.kocaeli.bel.tr/ArcGIS/services/IMAR_YAYIN/MapServer/WMSServer?style=",
                    title: "Imar Katmanları",
                    ptype: "gxp_wmscsource"
                }
                /*
                mapquest: { 
                    ptype: "gxp_mapquestsource"
                }*/
                ,osm: {
                    ptype: "gxp_osmsource"
                },
                google: {
                    ptype: "gxp_googlesource"
                },
                bing: {
                    ptype: "gxp_bingsource"
                },
                /*mapbox: {
                    ptype: "gxp_mapboxsource"
                },
                */
                
                ol: {
                    ptype: "gxp_olsource"
                }
            },
            map: {
                projection: "EPSG:102113",
                //projection: "EPSG:900913",//"EPSG:900913",
                units: "m",
                numZoomLevels:21,
                maxResolution: 156543.0339,
                maxExtent: [
					3264889.3454759,
					4942236.8339595,
					3380661.6159009,
					5043366.1352815
                    //-20037508.34, -20037508.34,
                    //20037508.34, 20037508.34
                ],
                layers: [
                /*{
                	source: "google",
                    title: "Google Harita",
                    name: "SATELLITE",//"HYBRID",//"ROADMAP",
                    group: "background"
                },*/
                //baselayer parametresi ile KocaeliGisSorgu.js icindeki aftermapmove event'inde max zoom icin kontrol yapiliyor.
                {
                	source: "ol",
                    type: "OpenLayers.Layer.WMS",
                    group: "background",
                    args: [
                           "Kocaeli Imar",
                           "http://gis.kocaeli.bel.tr/ArcGIS/services/IMAR_YAYIN/MapServer/WMSServer?style=",
                           {layers: "1,2,3,7,8,9,10,11,12,13", format: "image/png", isBaseLayer:true}//, transparent:"true"}
                       ]

                },
                {
                	source: "ol",
                    type: "OpenLayers.Layer.WMS",
                    group: "background",
                    args: [
                           "Kocaeli Raster",
                           "http://gis.kocaeli.bel.tr/ArcGIS/services/UYDU_2011/MapServer/WMSServer?style=",
                           {layers: "0,1,2,3,4,5,6", format: "image/png",isBaseLayer:true}
                       ]
  
                },
                {
                    source: "ol",
                    group: "background",
                    fixed: true,
                    type: "OpenLayers.Layer",
                    args: [
                        "Hiçbiri", {visibility: false}
                    ]
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KOYMAHALLE",
                	title:"MAHALLE",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KARAYOLU",
                	title:"KARAYOLU",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KOCAELI_YAPI",
                	title:"BINA",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },                
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KOCAELI_KAPI",
                	title:"KAPI",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.KAZIHATTI",
                	title:"KAZI HATLARI",
                	visibility:true,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
               		source:"local",
               		name:"UniversalWorkspace:SDE.YAGMURSUYU_HAT",
               		title:"YAGMUR SUYU HATLARI",
               		visibility:false,
               		opacity:1,
               		selected:false,
               		format:"image/png",
               		styles:"",
               		transparent:true,
               		cached:true ,
                },
                {	source:"local",
                	name:"UniversalWorkspace:SDE.KANALIZASYON_HAT",
                	title:"KANALIZASYON HATLARI",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.DIGER_HATLAR",
                	title:"DIGER HATLAR",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                	
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.FIBER_HAT",
                	title:"FIBER HATLAR",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.GAZ_HAT",
                	title:"GAZ HATLARI",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.GAZ_KUTU",
                	title:"GAZ KUTULARI",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                },
                {
                	source:"local",
                	name:"UniversalWorkspace:SDE.ICMESU_HAT",
                	title:"ICMESUYU HATLARI",
                	visibility:false,
                	opacity:1,
                	selected:false,
                	format:"image/png",
                	styles:"",
                	transparent:true,
                	cached:true
                }
                ],
                center: [3326386.5964513,4981095.3845385],
                zoom: 10
            }
        });
        
    </script>